name: "Update Changelog"

on:
  release:
    types: [released]

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: main

      - name: Update Changelog
        uses: stefanzweifel/changelog-updater-action@v1
        with:
          latest-version: ${{ github.event.release.name }}
          release-notes: ${{ github.event.release.body }}

      - name: Create PR for CHANGELOG
        uses: peter-evans/create-pull-request@v7
        with:
          branch: chore/changelog-${{ github.event.release.name }}
          base: main
          title: "Update CHANGELOG for ${{ github.event.release.name }}"
          commit-message: "Update CHANGELOG for ${{ github.event.release.name }}"
          body: "Automated changelog update"
          add-paths: |
            CHANGELOG.md
